@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.statictext {
  	padding: 1px 16px;
  	background-color: crimson;
  	color: aliceblue;
	text-align: center;
	font-weight: bold;
}

table {
	width: 80%;
	margin-left: 10%;
}

/*Font sumber dari google https://developers.google.com/fonts/docs/getting_started*/
@font-face {
   src: url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed);
}

th{
	font-family: 'Tangerine', serif;
   	font-size: 50px;
	text-shadow: 4px 4px 4px #aaa;
	padding-top: 2%;
	padding-bottom: 2%;
}

.border {
	background-color: royalblue;
	color: aliceblue
}

a {
	text-decoration: none;
	color: gainsboro;
}

a:hover {
	color: aliceblue;
}
